h1 {
    color: rgb(25, 9, 85);
}

h2 {
    color:rgb(25, 9, 85);
}

.vprasanje {
    color:rgb(25, 9, 85);
    background-color:rgb(153, 153, 206);
}

.gumb {
    color:rgb(25, 9, 85);
    background-color:rgb(221, 219, 219);
    border: none;
    text-align: center;
    border-radius: 12px;
}